<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hi I'm <strong>Rajeshkumar Umretiya. </strong></p>
            <p>
              I am an experienced Front End Developer and having 4+ years of
              industry experience. I bring a comprehensive set of skills that I
              believe will be valuable to your Project. In my Front End
              Developer role, I honed my abilities in
              <strong
                >JavaScript, AngularJs, Typescript, Angular, ReactJs, NodeJs,
                Sass, Css3, Html5, and Git</strong
              >. My critical thinking, people-centric nature, and compassion
              have afforded me excellent leadership skills. I am excited to
              contribute my talents and proficiency in innovation to your team's
              efforts.
            </p>

            <p>
              Please review my enclosed resume for a more in-depth illustration
              of my work history and accomplishments. I would appreciate the
              opportunity to interview at your earliest convenience.
            </p>
            <p>Thank you, in advance, for your consideration.</p>
            <p>
              Best regards,<br />
              Raj
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">December 03, 1993</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">rajeshumretiya913@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+1 2269758993</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">
                694 Partington Ave, Windsor, ON, N9B 2N7, Canada
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">English</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
