<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2020 - 2021(expected)</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">MEg Electricl and Computer Engineering</div>
               <h4 class="category">University of Windsor
               </h4>
               <!-- <ul>
                <li> L.D. college of Engineering is GTU Affiliated and <b>ranks 1st</b> in Gujurat </li>
                    <li>Completed B.E in Information Technology with <b>8.43 CGPA</b>.</li>
             </ul> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2011 - 2015</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">L.D college of Engineering
               </h4>
               <ul>
                <li> L.D. college of Engineering is GTU Affiliated and <b>ranks 1st</b> in Gujurat </li>
                    <li>Completed B.E in Information Technology with <b>8.43 CGPA</b>.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>