<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">
      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/portfolio.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Personal Portfolio Using Angular</h4>
              <h5 class="card-text"><b>Technology :</b> Angular8</h5>
              <h5 class="card-text">
                <a href="https://raj-umretiya.web.app/#" target="_blank"
                  >View Demo</a
                >
              </h5>
              <a
                href="https://github.com/rajeshkumaru/PersonalPortfolio-Angular"
                class="btn btn-primary stretched-link"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/crud application.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Crud Application Using Angular</h4>
              <h5 class="card-text"><b>Technology :</b> Angular, Jasmine</h5>
              <h5 class="card-text">
                <a href="https://angular-trial-40460.web.app/" target="_blank"
                  >View Demo</a
                >
              </h5>

              <a
                href="https://github.com/rajeshkumaru/crud-application-angular"
                class="btn btn-primary stretched-link"
                target="_blank"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/Chat-Application.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Chat Application</h4>
              <h5 class="card-text"><b>Technology :</b> NodeJs, Socket.io</h5>
              <h5 class="card-text">
                <a
                  href="https://raj-node-chat-application.herokuapp.com/"
                  target="_blank"
                  >View Demo</a
                >
              </h5>
              <a
                href="https://github.com/rajeshkumaru/node-chat-application"
                class="btn btn-primary stretched-link"
                target="_blank"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/quotes-application.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Quotes Application</h4>
              <h5 class="card-text"><b>Technology :</b> ReactJs</h5>
              <h5 class="card-text">
                <a
                  href="https://quotes-application-eec92.web.app/quotes"
                  target="_blank"
                  >View Demo</a
                >
              </h5>
              <a
                href="https://github.com/rajeshkumaru/Quotes-Application-ReactJs"
                class="btn btn-primary stretched-link"
                target="_blank"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/foodorderapp.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Food Order Application</h4>
              <h5 class="card-text"><b>Technology :</b> ReactJs</h5>
              <h5 class="card-text">
                <a
                  href="https://food-order-application-dca6c.web.app/"
                  target="_blank"
                  >View Demo</a
                >
              </h5>
              <a
                href="https://github.com/rajeshkumaru/FoodOrderApplication"
                class="btn btn-primary stretched-link"
                target="_blank"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/MovieListDemo.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Movie List Demo</h4>
              <h5 class="card-text"><b>Technology :</b> ReactJs</h5>
              <a
                href="https://github.com/rajeshkumaru/MovieDemoList"
                class="btn btn-primary stretched-link"
                target="_blank"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
